* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

header {
  max-width: 1084px;
  min-width: 90%;
  margin: 5px auto;
  padding: 10px 0;
  text-align: center;
}
.container-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
}
.buscador-input {
  width: 70%;
  max-width: 400px;
  padding: 10px 5px;
  border-radius: 10px 0 0 10px;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.buscador-input:focus {
  outline: none;
}
.buscador-btn {
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  background-color: #c665fa;
  color: white;
  font-size: 1.2rem;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.buscador-btn:hover {
  background-color: #a052d4;
}

.container {
  max-width: 1084px;
  min-width: 90%;
  margin: 0 auto;
  background-color: tomato;
  padding: 10px;
}

.continer-history {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}